
/* v-btn (vuetify的按鈕) */
.v-btn:not(.v-btn--round).v-size--default {
  padding: 0 5px;
}

.v-btn:not(.v-btn--round).v-size--small {
  padding: 0 5px;
}
/* 首頁 Filter */
.filter-row {
  flex: none;
  overflow-x: scroll;
}

.filter-row::-webkit-scrollbar {
  display: none;
}

.filter-row .index-filter {
  width: 600px;
}

.filter-row .index-filter>button {
  margin-left: 8px
}

.index-card-row > div{
  border-bottom: 1px solid #e7e7e7;
}